<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sharing App</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/eb1653aab2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="logo">
        <a href="/">
            <img src="/logo.png" alt="" style="width:150px;height:100px;margin:20px;">
        </a>
    </div>
    <div class="upload">
        <div class="drop-zone">
            <div class="icon-container">
                <i class="far fa-file-alt center"></i>
                <i class="far fa-file-alt left"></i>
                <i class="far fa-file-alt right"></i>
                
                <p class="title">Drag you file here or <span class="browsebtn">browse</span></p>
                <input type="file" id="file-select">
            </div>
        </div>
        
        <h3 class="ready">Your link is ready!</h3>
        <div class="show">
            <input type="url" class="show-link" readonly>
            <i class="far fa-copy copy-btn"></i>
        </div>
        <div class="showMail">
            <h4>or Send link via mail</h4>
            <h4></h4>
            <form action="/files/sendmail" method="post">
                <div class="mail">
                    <label for="name">Your name : </label>
                    <input type="text" name="name">
                </div>
                <div class="mail">
                    <label for="receiver">Receiver Email: </label>
                    <input type="email" id="receiver" name="receiver">
                </div>
                <input type="url" class="send-link" name="big_link" hidden>
                <button class="send">Send</button>
            </form>
        </div>
    </div>
    <div class="copyright">
        <li style="list-style-type: none; margin-top:10%; margin-left:43%"> <a href="https://github.com/BAAHUBALI7781/BigShare" style="text-decoration: none;color:black"><i class="fab fa-github"></i> Baahubali7781</a></li>
    </div>
    
    <script src="/index.js"></script>
</body>
</html>
